.databricks
*.pyc
*.json
.vscode/
helpers/__pycache__/get_spark.cpython-311.pyc
.vscode/settings.json
.env/
.vscode/settings.json
.venv/
.repos.txt
prod-eus2-robkisk.session.sql
dev-eus2-robkisk.session.sql
__pycache__/
build/
dist/
wheels/
*.egg-info
.venv
.pytest_cache/
.databricks
.env
